<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-account.css">
        <link rel="stylesheet" type="text/css" href="/css/style-admin.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">
        <title>Strange Day</title>
    </head>
 
    <body>
        <header>
            <%- include('navbar') %>
        </header>

        <main class="pt-5 mt-3">
            <div class="m-3"> 
                <span href="#" class="link-title p-2 pl-4">
                    Modification d'un article
                </span>
            </div>
            <div class="new-product-content container-fluid px-4">
                <div class="images pb-3">
                    <label class="title my-2"> Image(s) </label>
                    <div class="img-preview">
                    </div>
                    <label class="btn btn-primary m-0 mt-3" for="files">Ajouter une image</label>
                    <input class="form-control" type="file" id="files" name="images" accept="image/*" multiple>
                    <a href="#" class="btn btn-secondary mt-3" id="clear"> Supprimer </a>
                    <div class="invalid-feedback">Veuillez ajouter au moins une image</div>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="col-md-4 col-12">
                        <div class="name">
                            <label class="title my-2"> Nom </label>
                            <input type="text" placeholder="Nom" class="form-control col" name="name" value="<%= product.name %>">
                            <div class="invalid-feedback">Veuillez rentrer un nom</div>
                        </div>
                        <div class="description">
                            <label class="title my-2"> Description </label>
                            <textarea class="form-control col" placeholder="Ajouter une description ici ..." rows="7" name="description"><%= product.description %></textarea>
                            <div class="invalid-feedback">Veuillez rentrer une description</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="price">
                            <label class="title my-2"> Prix </label>
                            <input type="text" placeholder="12.99" class="form-control col" name="price" value="<%= product.price %>">
                            <div class="invalid-feedback">Veuillez rentrer un prix valide (ex: 12.99)</div>
                        </div>

                        <div class="type-clothe <% if (product.type!='clothe') { %> hide <% } %>">
                            <div class="composition">
                                <label class="title my-2"> Composition </label>
                                <input type="text" placeholder="Composition du vêtement" class="form-control col" name="composition" value="<%= product.composition %>">
                            </div>
                            <div class="sizes">
                                <label class="title my-2"> Tailles disponibles </label>
                                <br/>
                                <label class="checkbox-inline"><input type="checkbox" id="size-s" value="1" <% if (product.s) { %> checked <% } %>> S </label>
                                <label class="checkbox-inline ml-4"><input type="checkbox" id="size-m" value="1" <% if (product.m) { %> checked <% } %>> M </label>
                                <label class="checkbox-inline ml-4"><input type="checkbox" id="size-l" value="1" value="1" <% if (product.l) { %> checked <% } %>> L </label>
                                <label class="checkbox-inline ml-4"><input type="checkbox" id="size-xl" value="1" <% if (product.xl) { %> checked <% } %>> XL </label>
                                <label class="checkbox-inline ml-4"><input type="checkbox" id="size-xxl" value="1" <% if (product.xxl) { %> checked <% } %>> 2XL </label>
                            </div>
                        </div>
                        <div class="type-poster <% if (product.type!='print') { %> hide <% } %>">
                            <div class="size">
                                <label class="title my-2"> Format </label>
                                <input type="text" placeholder="A3" class="form-control col" name="size" value="<%= product.size %>">
                            </div>
                            <div class="printing">
                                <label class="title my-2"> Poids </label>
                                <input type="text" placeholder="250mg" class="form-control col" name="printing" value="<%= product.weight %>">
                                <div class="invalid-feedback">veuillez rentrer un poids</div>
                            </div>
                        </div>
                        <div class="type-accessory <% if (product.type!='accessory') { %> hide <% } %>">
                            <div class="acc_type">
                                <label class="title my-2"> Type d'accessoire </label>
                                <input type="text" placeholder="Sac" class="form-control col" name="acc_type" value="<%= product.acc_type %>">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                       <div class="collection">
                            <label class="title my-2"> Collection/Capsule </label>
                            <br/>
                            <select class="custom-select" name="collection">
                                <option value="Aucune" class="attached enabled">Aucune</option>
                                <option value="Capsule Photomaton" class="attached enabled">Capsule Photomaton</option>
                            </select>
                        </div>
                        <div class="available">
                            <label class="title my-2"> Disponible </label>
                            <br/>
                            <label class="checkbox-inline"><input type="radio" name="available" value="1" id="a1" <% if (product.available == 1) { %> checked <% } %> > Oui </label>
                            <label class="checkbox-inline ml-3"><input type="radio" name="available" value="0" id="a2" <% if (!product.available) { %> checked <% } %> > Non </label>
                        </div>
                    </div>
                </div>
                <form class="text-center" action="/admin-edit-product" method="post">
                    <button class="btn btn-success my-4" type="submit"> Modifier le produit </button>
                </form>
            </div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>
    
    <script type="text/javascript">
        var fileTypes = [
          'image/jpeg',
          'image/png'
        ]

        // prend un fichier en paramètre et verifie qu'il est bien du type autorisé
        function validFileType(file) {
            for(var i = 0; i < fileTypes.length; i++) {
                if(file.type === fileTypes[i]) {
                    return true;
                }
            }
            return false;
        }

        function addImgPreview (file) {
            var path = window.URL.createObjectURL(file); // on créer un lien provisoire pour l'image
            $('.img-preview').append(`<img src="${path}" img-name='${file.name}'></img>`)
        }

        function getImgList() {
            var list = []
            $('.images img').each(function () {
                list.push($(this).attr('img-name'));
            });

            return list
        }

        // Préremplis les preview d'image
        var file_list = [];
        `<% for (img of product.image) { %>`
            file_list.push('<%= img %>');
        `<% } %>`;
        for (file of file_list) {
            $('.img-preview').append(`<img src="/img/${file}" img-name='${file}'></img>`)
        }

        // Actualise le cadre de preview d'images
        $('.images #clear').click(function () {
            $('.images .img-preview').empty();
            file_list = [];
        })

        // Actualise le cadre de preview d'images
        $('.images input').change(function () {
            var files = $(this).prop('files');
            file_list.push(files[0]);
            if (files.length) {
                for (file of files) {
                    if (validFileType(file)) {
                        addImgPreview(file);
                    }
                }
            }
        });  

        // Ajuste la valeur par défaut du select de collection
        $(`.custom-select option[value="<%= product.collection %>"]`).prop('selected',true);     

        // Ajouter un produit
        $('form[action="/admin-edit-product"]').submit(function () {
            var image = $('input[name="images"]');
            var name = $('input[name="name"]');
            var description = $('textarea[name="description"]');
            var price = $('input[name="price"]');
            var type = '<%= product.type %>';
            var composition = $('input[name="composition"]');
            var size = $('input[name="size"]');
            var weight = $('input[name="printing"]');
            var acc_type = $('input[name="acc_type"]');
            var collection = $('.custom-select');
            var available = $('input[name="available"]:checked');
            var regexPrice = new RegExp("^(\\d+[.]\\d{1,2})$");

            // On check les erreurs et on ajoute la classe en consequant
            if (!file_list.length) {
                image.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                image.removeClass('is-invalid').addClass('is-valid');
            }
            if (!name.val()) {
                name.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                name.removeClass('is-invalid').addClass('is-valid');
            }
            if (!description.val()) {
                description.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                description.removeClass('is-invalid').addClass('is-valid');
            }
            if (!price.val()) {
                price.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else if (!price.val().match(regexPrice)) {
                price.removeClass('is-valid').addClass('is-invalid');
                return false;
            }
            else {
                price.removeClass('is-invalid').addClass('is-valid');
            }
            if (!composition.val() && type == "clothe") {
                composition.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                composition.removeClass('is-invalid').addClass('is-valid');
            }
            if (!size.val() && type == "print") {
                size.removeClass('is-valid').addClass('is-invalid');
                return false;
            }
            else {
                size.removeClass('is-invalid').addClass('is-valid');
            }
            if (!weight.val() && type == "print") {
                weight.removeClass('is-valid').addClass('is-invalid');
                return false;
            }
            else {
                weight.removeClass('is-invalid').addClass('is-valid');
            }
            if (!acc_type.val() && type == "accessory") {
                acc_type.removeClass('is-valid').addClass('is-invalid');
                return false;
            }
            else {
                acc_type.removeClass('is-invalid').addClass('is-valid');
            }

            //uploadImgFiles(file_list) // On upload les images sur le serveur en parallèle
            var form = new FormData();
            for (file of file_list) {
                form.append('file', file)
            }

            // On upload les images sur le serveur
            $.ajax({
                type: 'POST',
                url: '/upload-img', 
                // Form data
                enctype: 'multipart/form-data',
                data: form,//form,

                // Tell jQuery not to process data or worry about content-type
                // You *must* include these options!
                cache: false,
                contentType: false,
                processData: false,                
            })
            .done(function () {
                // ... Et on attend que l'upload soit fini pour lancer la 2e requête
                $.post("/admin-edit-product", {
                    id: <%= product.id %>,
                    image: JSON.stringify(getImgList()),
                    name: name.val(),
                    description: description.val(),
                    price: price.val(),
                    composition: composition.val(),
                    s:   $('input#size-s:checked').val(),
                    m:   $('input#size-m:checked').val(),
                    l:   $('input#size-l:checked').val(),
                    xl:  $('input#size-xl:checked').val(),
                    xxl: $('input#size-xxl:checked').val(),
                    size: size.val(),
                    weight: weight.val(),
                    acc_type:acc_type.val(),
                    type: type,
                    collection: collection.val(),
                    available: available.val()
                })
                .done( function (data) {
                    if (data == "badInfos") {
                    }
                    else {
                        location.assign('/admin-products-list');
                    }
                });    
            })
            return false; // on execute pas le submit normal       
        });

    </script>

</html>