<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-shop.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Strange Day</title>
    </head>
 
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <main class="py-5 mt-3">
            <%- include('jumbo') %>
            <div class="head-title my-5">
                <h1>Lookbook</h1>
            </div>
            <div class="lookbook-content">
                <div class="tab mb-3">
                    <ul class="tab-switch list-inline">
                        <li class="list-inline-item active" target="insomnie">
                            AW 2021 "L'Insomnie"                          
                        </li>
                        <li class="list-inline-item" target="summertrip">
                            Summer Roadtrip                          
                        </li>
                        <li class="list-inline-item" target="photomaton">
                            Photomaton                          
                        </li>
                    </ul>
                </div>
                <div class="lookbook-gallery d-flex" id="insomnie">
                    <div class="w-100 text-center desc mb-3">
                        Photos: <a href="https://instagram.com/alexandrinesnd" target="_blank">Alexandrine Shenouda</a> avec l'aide de <a href="https://www.instagram.com/loic_hrp" target="_blank">Loïc</a><br/>
                        Lumière: <a href="https://www.instagram.com/filip_a.a" target="_blank">Filip</a><br/>
                        Modèles: <a href="https://www.instagram.com/yael_lgf" target="_blank">Yaël</a>, <a href="https://www.instagram.com/bapt_dtl" target="_blank">Baptiste</a>, <a href="https://www.instagram.com/coomisu" target="_blank">Emma</a>, <a href="https://www.instagram.com/alixdurannd" target="_blank">Alix</a>, <a href="https://www.instagram.com/julietexier" target="_blank">Julie</a>, <a href="https://www.instagram.com/cailliou" target="_blank">Camille</a>, <a href="https://www.instagram.com/tom_mvolco" target="_blank">Tom</a>, <a href="https://www.instagram.com/ilanpace" target="_blank">Ilan</a> et <a href="https://www.instagram.com/ydogbe" target="_blank">Yoann</a>
                    </div>
                    <% for (image of insomnie) { %>
                        <div class="lookbook-img col-md-4 p-0">
                            <img class="w-100" src="/img/lookbook/insomnie/<%= image %>">
                        </div>
                    <% } %>
                </div>
                <div class="lookbook-gallery" id="summertrip">
                    <div class="w-100 text-center desc mb-3">
                        Photos: <a href="https://instagram.com/alexandrinesnd" target="_blank">Alexandrine Shenouda</a><br/>
                        Modèles: <a href="https://instagram.com/moi_et_dug" target="_blank">Héloise</a>, <a href="https://www.instagram.com/carla_tlse" target="_blank">Carla</a>, <a href="https://www.instagram.com/loic_hrp" target="_blank">Loïc</a> et <a href="https://www.instagram.com/colin_blondel" target="_blank">Colin</a>
                    </div>
                    <% for (image of summer_roadtrip) { %>
                        <div class="lookbook-img col-md-4 p-0">
                            <img class="w-100" src="/img/lookbook/summer roadtrip/<%= image %>">
                        </div>
                    <% } %>
                </div>
                <div class="lookbook-gallery" id="photomaton">
                    <div class="w-100 text-center desc mb-3">
                        Photos: <a href="https://instagram.com/alexandrinesnd" target="_blank">Alexandrine Shenouda</a> à Fotoautomat, au 53 rue des Trois Frères, 75018, Paris.<br/>
                        Modèles: <a href="https://instagram.com/jo_rib" target="_blank">Joana</a> et <a href="https://www.instagram.com/liljaara" target="_blank">Macky</a>
                    </div>
                    <% for (image of photomaton) { %>
                        <div class="lookbook-img col-md-4 p-0">
                            <img class="w-100" src="/img/lookbook/photomaton/<%= image %>">
                        </div>
                    <% } %>
                </div>
            </div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>

    <script type="text/javascript">
        // on switch de panneau
        $("ul.tab-switch li").click(function() {
            $("ul.tab-switch li").removeClass("active");
            $(this).addClass("active");

            var pannel = $(this).attr("target");
            $("div.tab ~ .lookbook-gallery").removeClass("d-flex");
            $(`.lookbook-gallery#${pannel}`).addClass("d-flex");
        });
    </script>
</html>