<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <!--<link rel="stylesheet" type="text/css" href="/css/style-product.css">-->
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/style-cart.css">
        <link rel="stylesheet" type="text/css" href="/css/style-payout.css">

        <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>

        <title>Strange Day</title>
    </head>
 
    <body>
    	<header>
           <%- include('navbar') %>
        </header>

        <main class="pt-5 mt-3">
            <div>
                <ul class="payout-order list-inline text-center mt-5">
                    <li class="list-inline-item">
                        <a href="/payout-infos">
                            <span class="order">1</span>
                            <span class="label"> Informations </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/payout-shipping">
                            <span class="order">2</span>
                            <span class="label"> Livraison </span>
                        </a>
                    </li>
                     <li class="list-inline-item active">
                        <a href="/payout-final">
                            <span class="order">3</span>
                            <span class="label"> Paiement </span>
                        </a>
                    </li>
                    <div class="line"></div>
                </ul>
            </div>

    		<div class="container-fluid row m-0 p-0">
    			<div class="payout-left border col-md-8 mt-3 p-3">
                    <div class="p-4 container subscribe">
                        	<span class="title"> Mode de payement </span>
                        	<div class="payment-method px-3 mb-4 border rounded">
                                <div class="row radio-payout py-2">
                                    <div class="radio col-1">
                                        <input type="radio" id="pm2" class="" name="paymentMethod" checked>
                                    </div>
                                    <div class="label col row justify-content-between">
                                    	<div>
                                        	<label for="pm2" class="m-0 ml-3"> Carte Bancaire </label>
                                        </div>
                                        <div class="mr-3">
	                                        <img class="payment-logo" src="/logo_visa2.png">
	                                        <img class="payment-logo" src="/logo_master.png">
	                                        <img class="payment-logo" src="/logo_amex.png">
	                                    </div>
                                    </div>
                                </div>

                                 <div class="row card-payment border-top p-3">
                                	<div class="col p-0" id="payment-form">
										<div id="cardNumber"></div>
										<div class="row p-3">
											<div class="col mr-2" id="cardExpiry"></div>
											<div class="col ml-2" id="cardCvc"></div>
										</div>

										<!-- We'll put the error messages in this element -->
										<div class="text-danger text-center" id="card-errors" role="alert"></div>
                                        <div class="text-center" style="font-size: 11px; color: gray; text-transform: none;">Les paiements sont traités par Stripe et régis par sa <br/> <a href="https://stripe.com/privacy">Politique de vie Privée</a></div>

										<!--<button id="submit">Pay</button>-->
									</div>
                                </div>

                                 <div class="border-bottom"></div>

                                <div class="row radio-payout py-2">
                                    <div class="radio col-1">
                                        <input type="radio" id="pm1" class="" name="paymentMethod">
                                    </div>
                                    <div class="label col">
                                        <label for="pm1" class="m-0">
                                        	<img class="payment-logo-paypal" src="/logo_paypal.png">
                                     	</label>
                                    </div>
                                </div>
                        	</div>

                            <span class="title"> Adresse de facturation </span>
                            <div class="billing-address px-3 mb-4 border rounded text-secondary">
                                <div class="row radio-payout py-2">
                                    <div class="radio col-1">
                                        <input type="radio" id="ba1" class="" name="billingAddress" checked>
                                    </div>
                                    <div class="label col">
                                        <label for="ba1" class="m-0"> Facturer à l'adresse de mon compte </label>
                                    </div>
                                </div>
                                <div class="border-bottom"></div>
                                <div class="row radio-payout py-2">
                                    <div class="radio col-1">
                                        <input type="radio" id="ba2" class="" name="billingAddress">
                                    </div>
                                    <div class="label col">
                                        <label for="ba2" class="m-0"> Facturer à une autre adresse </label>
                                    </div>
                                </div>

                                <div class="row billing-address-new border-top p-3 hide">
                                    <div class="form-group w-100">
                                        <input type="text" placeholder="Adresse" class="form-control" name="address1">
                                        <div class="invalid-feedback">Veuillez rentrer une adresse valide</div>
                                    </div>
                                    <div class="form-group w-100">
                                        <input type="text" placeholder="N° suite / appartement (optionnel)" class="form-control" name="address2">
                                        <div class="invalid-feedback">Veuillez rentrer une adresse valide</div>
                                    </div>
                                    <div class="form-row w-100 m-0 mb-3">
                                        <div class="col p-0 pr-1">
                                            <input type="text" placeholder="Ville" class="form-control" name="city">
                                            <div class="invalid-feedback">Veuillez rentrer une ville valide</div>
                                        </div>
                                        <div class="col p-0 pl-1">
                                            <input type="text" placeholder="Code postal" class="form-control" name="postal-code">
                                            <div class="invalid-feedback">Veuillez rentrer un code valide</div>
                                        </div>
                                    </div>
                                    <div class="form-row w-100 m-0">
                                        <div class="col p-0 pr-1">
                                            <input type="text" placeholder="Région / Etat" class="form-control" name="state">
                                            <div class="invalid-feedback">Veuillez rentrer une région valide</div>
                                        </div>
                                        <div class="col p-0 pl-1">
                                            <select class="form-control" value="FR" data-role="country-selector" data-code-mode="alpha2" name="country"></select>
                                            <div class="invalid-feedback">Veuillez rentrer un pays valide</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-between">
                                <a href="/payout-shipping" class="btn btn-log m-md-3 px-md-4">Retour</a>
                                <button type="submit" id="submit-payment" class="btn btn-cart m-md-3 px-md-4" data-dismiss="">
                                    <div class="d-none loader-container align-items-center justify-content-center">
                                        Veuillez patientez ...<div class="loader ml-3"></div>
                                    </div>
                                    <div class="paypal-payment hide" id="paypal-button-container"></div>Valider le paiement
                                </button>
                            </div>
                    </div>
    			</div>
    			
    			<!----------------------------- PC ONLY ------------------------------>

	    		<div class="payout-right col-md-4 mt-3 p-4 d-none d-md-block">
	    			<div class="sticky-top sticky-offset cart-recap">
                        <div class="row">
                            <span class="title col">Récapitulatif</span>
                        </div>
                        <div class="w-100 border-bottom my-3"></div>
                        <div class="row py-3">
                            <span class="title col-5">SOUS-TOTAL <span class="detail">(TTC)</span></span>
                            <span class="price price-sub-total col text-right"><%= subtotal_cost %>€</span>
                        </div>
                        <div class="row py-3">
                            <span class="title col-5">LIVRAISON</span>
                            <% var ship = session.cart.shipping_cost+'€';
                            if (!parseInt(ship)) ship = 'Gratuite'; %>
                            <span class="price price-shipping col text-right"><%= ship %></span>
                        </div>
                        <div class="w-100 border-bottom my-3"></div>
                        <div class="row pb-5">
                            <span class="title total col-5">TOTAL <span class="detail">(TTC)</span></span>
                            <span class="price price-total col text-right"><%= total_cost %>€</span>
                        </div>
	    			</div>
	    		</div>
	    	</div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
        <!---------------------- MOBILE ONLY ---------------------------->
        <div class="sticky-bottom product-payout d-md-none d-block w-100 p-3 shadow-lg">
            <div class="cart-recap">
                <div class="row py-1">
                    <span class="title col-5">SOUS-TOTAL <span class="detail">(TTC)</span></span>
                    <span class="price price-sub-total col text-right"><%= subtotal_cost %>€</span>
                </div>
                <div class="row py-2">
                    <span class="title col-5">LIVRAISON</span>
                    <span class="price price-shipping col text-right"><%= ship %></span>
                </div>
                <div class="w-100 border-bottom my-2"></div>
                <div class="row">
                    <span class="title total col-5">TOTAL <span class="detail">(TTC)</span></span>
                    <span class="price price-total col text-right"><%= total_cost %>€</span>
                </div>
            </div>
        </div>
    </body>

<!---------------------------- GLOBAL SCRIPTS -------------------------------->
<script src="jquery.countryselector.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=<%- cred_paypal %>&currency=EUR&components=buttons,funding-eligibility"></script>
<script>    
    // on met en place la ligne sur le bandeau
    $('.line').css({
        width: function () {
            return $('.payout-order li:nth-of-type(3) span.order').offset().left - $('.payout-order li:nth-of-type(1) span.order').offset().left;
        },
        top: function () {
            return $('.payout-order li:nth-of-type(1) span.order').offset().top
        },
        left: function () {
            return $('.payout-order li:nth-of-type(1) span.order').offset().left;
        }
    })
        
	$( "input[type=radio][name=billingAddress]" ).change(function() {
	    if ($(this).attr('id') == 'ba1') {
	        $('.billing-address-new').addClass('hide');
	    } else {
	        $('.billing-address-new').removeClass('hide');
	    }
	});
	$( "input[type=radio][name=paymentMethod]" ).change(function() {
	    if ($(this).attr('id') == 'pm1') {
	        $('.paypal-payment').removeClass('hide');
	        $('.card-payment').addClass('hide');
	    } else {
	        $('.card-payment').removeClass('hide');
	        $('.paypal-payment').addClass('hide');
	    }
	});

	/* ----------------- Setting optionnal billing address ------------ */

	var billing_city = `<%- user.city %>`;
	var billing_country = `<%- user.country %>`;
	var billing_address1 = `<%- user.address1 %>`;
	var billing_address2 = `<%- user.address2 %>`;
	var billing_postal_code = `<%- user.postal_code %>`;
	var billing_state = `<%- user.state %>`;
	var billing_email = `<%- user.email %>`;
	var billing_name = `<%- user.name %>`;
	var billing_phone = `<%- user.tel %>`;

	/* ================================ STRIPE ================================== */

	var stripe = Stripe('<%- cred_stripe %>');
	// Create an instance of Elements.
	var elements = stripe.elements();

	// Custom styling can be passed to options when creating an Element.
	// (Note that this demo uses a wider set of styles than the guide below.)
	var style = {
		base: {
			color: "#32325d",
		}
	};

	var cardNumber = elements.create("cardNumber", { style: style, showIcon: true });
	var cardExpiry = elements.create("cardExpiry", { style: style });
	var cardCvc = elements.create("cardCvc", { style: style });
	cardNumber.mount("#cardNumber");
	cardExpiry.mount("#cardExpiry");
	cardCvc.mount("#cardCvc");

	cardNumber.addEventListener('change', function(event) {
		var displayError = document.getElementById('card-errors');
		if (event.error) {
			displayError.textContent = event.error.message;
		} else {
			displayError.textContent = '';
		}
	});
	cardExpiry.addEventListener('change', function(event) {
		var displayError = document.getElementById('card-errors');
		if (event.error) {
			displayError.textContent = event.error.message;
		} else {
			displayError.textContent = '';
		}
	});
	cardCvc.addEventListener('change', function(event) {
		var displayError = document.getElementById('card-errors');
		if (event.error) {
			displayError.textContent = event.error.message;
		} else {
			displayError.textContent = '';
		}
	});

	/* ============================== SUBMIT ==================================== */

	$('#submit-payment').click( function () {
		var paymentMethod = $("input[type=radio][name=paymentMethod]:checked").attr("id");
		var billingAddress = $("input[type=radio][name=billingAddress]:checked").attr("id");

        var address1Input = $('.billing-address input[name="address1"]');
        var address2Input = $('.billing-address input[name="address2"]');
        var cityInput = $('.billing-address input[name="city"]');
        var countryInput = $('.billing-address select[name="country"]');
        var stateInput = $('.billing-address input[name="state"]');
        var postalCodeInput = $('.billing-address input[name="postal-code"]');

        // Si on choisi d'ajouter une autre adresse, on verifie les erreurs
        if (billingAddress == "ba2") {
            if (!address1Input.val()) {
                address1Input.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                address1Input.removeClass('is-invalid').addClass('is-valid');
                billing_address1 = address1Input.val();
            }
            if (address2Input.val()) {
                address2Input.removeClass('is-invalid').addClass('is-valid');
                billing_address2 = address2Input.val();
            } 
            if (!cityInput.val()) {
                cityInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                cityInput.removeClass('is-invalid').addClass('is-valid');
                billing_city = cityInput.val();
            }
            if (!postalCodeInput.val()) {
                postalCodeInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                postalCodeInput.removeClass('is-invalid').addClass('is-valid');
                billing_postal_code = postalCodeInput.val();
            }
            if (!countryInput.val()) {
                countryInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                countryInput.removeClass('is-invalid').addClass('is-valid');
                billing_country = countryInput.val();
            }
            if (!stateInput.val()) {
                stateInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                stateInput.removeClass('is-invalid').addClass('is-valid');
                billing_state = stateInput.val();
            }
        }

		/* --------------------------------------------------------------- */

		// on desactive le bouton en attendant la finalisation de la requête
        $('#submit-payment').prop('disabled', true);
        $('.paypal-payment').addClass('hide');
        $('.loader-container').removeClass('d-none'); // on affiche le loader
        //return;

		// if payment -> card (Stripe)
		if (paymentMethod == 'pm2') {
			//ev.preventDefault();
			stripe.confirmCardPayment('<%- client_secret %>', {
				payment_method: {
					type: 'card',
				    card: elements.getElement('cardNumber'),
					billing_details: {
						address: {
							city: billing_city,
							country: billing_country,
							line1: billing_address1,
							line2: billing_address2,
							postal_code: billing_postal_code,
							state: billing_state
						},
						email: billing_email,
						name: billing_name,
						phone: billing_phone
					},
				}
			}).then( function(result) {
				if (result.error) {
					// Show error to your customer (e.g., insufficient funds)
					console.log(result.error.message);

					// On reactive le bouton
					$('#submit-payment').prop('disabled', false);
                    $('.loader-container').addClass('d-none'); // on enlève le loader
					//location.assign("/payment-cancel");
				} else {
					// The payment has been processed!
					if (result.paymentIntent.status === 'succeeded') {
						// on ajoute la commande à la BDD
			            $.post("/add-order", {
			            	billing_address: `${billing_address1} ${billing_address2} ${billing_postal_code} ${billing_city} ${billing_state} ${billing_country} `,
			            	payment_method: 'carte bancaire',
			            })
			            .done( function (data) {
		                    location.assign("/payment-success");
			            });
					}
				}
			});
		} 

		// si payement -> paypal
		else if (paymentMethod == 'pm1') {
            // On laisse Paypal se charger nativement de paiement
			return 0;
		}
	});
//-------------------------------- PAYPAL SCRIPTS ----------------------------//

	// This function displays Smart Payment Buttons on your web page.

	var FUNDING_SOURCES = [paypal.FUNDING.PAYPAL];

	// Loop over each funding source / payment method
	FUNDING_SOURCES.forEach(function(fundingSource) {

	    // Initialize the buttons
	    var button = paypal.Buttons({
	        fundingSource: fundingSource,

		    createOrder: function(data, actions) {
	  		// This function sets up the details of the transaction, including the amount and line item details.
	      		return actions.order.create({
	      			intent: "capture",
					purchase_units: [{
						amount: {
							value: '<%= total_cost %>',
							currency_code: 'EUR',
						}
					}],
					payer: {
						name: {
							surname: '',
							given_name: `<%- user.name %>`,
						},
						email_address:`<%- user.email %>`,
						//payer_id: '15',
						/*phone: {
							phone_number: {
								national_number: "06xxxxxx"
							}
						}*/
						address: {
							address_line_1: `<%- user.address1 %>`,
							address_line_2: `<%- user.address2 %>`,
							postal_code: `<%- user.postal_code %>`,
							admin_area_2: `<%- user.city %>`,
							admin_area_1: `<%- user.state %>`,
							country_code: `<%- user.country %>`
						}
					},
					application_context: {
						brand_name: 'Strange Day',
						shipping_preference: 'NO_SHIPPING',
						/*payment_method: {
							payer_selected:'paypal'
						},*/
						return_url: 'https://strangeday.fr/payment-success',
						cancel_url: 'https://strangeday.fr/payment-cancel',
					}
				});
		    },
		    onApprove: function(data, actions) {
	      		// This function captures the funds from the transaction.
	      		return actions.order.capture().then(function(details) {
		        	// This function shows a transaction success message to your buyer.
					// on ajoute la commande à la BDD
					console.log('order paypal')
		            $.post("/add-order", {
		            	billing_address: `${billing_address1} ${billing_address2} ${billing_postal_code} ${billing_city} ${billing_state} ${billing_country} `,
		            	payment_method: 'paypal',
		            })
		            .done( function (data) {
		                if (data == "badOrder") {
		                    console.log("order error");
		                }
		                else {
		                    location.assign("/payment-success");
		                }
		            });
		      	});
		    },
		    style: {
			    height: 55,
		  	}
	    });

	    // Check if the button is eligible
	    if (button.isEligible()) {

	        // Render the standalone button for that funding source
	        button.render('#paypal-button-container');
	    }
	});
</script>