<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <!--<link rel="stylesheet" type="text/css" href="/css/style-product.css">-->
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/style-cart.css">
        <link rel="stylesheet" type="text/css" href="/css/style-payout.css">
        <title>Strange Day</title>
    </head>
 
    <body>
    	<header>
            <%- include('navbar') %>
        </header>

        <main class="pt-5 mt-3">
            <%- include('jumbo') %>
            <div class="pt-3">
                <ul class="payout-order list-inline text-center mt-5">
                    <li class="list-inline-item">
                        <a href="/payout-infos">
                            <span class="order">1</span>
                            <span class="label"> Informations </span>
                        </a>
                    </li>
                    <li class="list-inline-item active">
                        <a href="/payout-shipping">
                            <span class="order">2</span>
                            <span class="label"> Livraison </span>
                        </a>
                    </li>
                     <li class="list-inline-item">
                        <a href="/payout-final">
                            <span class="order">3</span>
                            <span class="label"> Payement </span>
                        </a>
                    </li>
                    <div class="line"></div>
                </ul>
            </div>

    		<div class="container-fluid row m-0 p-0">
    			<div class="payout-left border col-md-8 mt-3 p-3">
                    <div class="p-4 container shipping-address-pannel">
                        <form action="/valid-shipping" method="post" class="container p-0">
                            <span class="title"> Adresse de livraison </span>
                            <div class="shipping-address px-3 mb-4 border rounded text-secondary">
                                <div class="row radio-payout py-2">
                                    <div class="radio col-1">
                                        <input type="radio" id="sa1" class="" name="shippingAddress" value="1" checked>
                                    </div>
                                    <div class="label col">
                                        <label for="sa1" class="m-0"> Expedier à l'adresse de mon compte </label>
                                    </div>
                                </div>
                                <div class="border-bottom"></div>
                                <div class="row radio-payout py-2">
                                    <div class="radio col-1">
                                        <input type="radio" id="sa2" class="" name="shippingAddress" value="2">
                                    </div>
                                    <div class="label col">
                                        <label for="sa2" class="m-0"> Expedier à une autre adresse </label>
                                    </div>
                                </div>

                                <div class="row shipping-address-new border-top p-3 hide">
                                    <div class="form-group w-100">
                                        <input type="text" placeholder="Adresse" class="form-control" name="address1">
                                        <div class="invalid-feedback">Veuillez rentrer une adresse valide</div>
                                    </div>
                                    <div class="form-group w-100">
                                        <input type="text" placeholder="N° suite / appartement (optionnel)" class="form-control" name="address2">
                                        <div class="invalid-feedback">Veuillez rentrer une adresse valide</div>
                                    </div>
                                    <div class="form-row w-100 m-0 mb-3">
                                        <div class="col p-0 pr-1">
                                            <input type="text" placeholder="Ville" class="form-control" name="city">
                                            <div class="invalid-feedback">Veuillez rentrer une ville valide</div>
                                        </div>
                                        <div class="col p-0 pl-1">
                                            <input type="text" placeholder="Code postal" class="form-control" name="postal-code">
                                            <div class="invalid-feedback">Veuillez rentrer un code valide</div>
                                        </div>
                                    </div>
                                    <div class="form-row w-100 m-0">
                                        <div class="col p-0 pr-1">
                                            <input type="text" placeholder="Région / Etat" class="form-control" name="state">
                                            <div class="invalid-feedback">Veuillez rentrer une région valide</div>
                                        </div>
                                        <div class="col p-0 pl-1">
                                            <select class="form-control" value="FR" data-role="country-selector" data-code-mode="alpha2" name="country"></select>
                                            <div class="invalid-feedback">Veuillez rentrer un pays valide</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="title"> Mode d'expedition </span>
                            <div class="shipping-method p-2 pl-3 mb-4 border rounded text-secondary">
                                <div class="row radio-payout">
                                    <div class="radio col-1">
                                        <input type="radio" id="sm1" class="" name="shippingMethod" checked value="colissimo">
                                    </div>
                                    <div class="label col-9">
                                        <label for="sm1" class="m-0"> Colissimo </label>
                                    </div>
                                    <div class="label col-2 colissimo-price">
                                        <span> <%= session.cart.shipping_cost%>€ </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-between">
                                <a href="/payout-infos" class="btn btn-log m-3 px-4">Retour</a>
                                <button type="submit" class="btn btn-cart m-3 px-4" data-dismiss="">Confirmer</button>
                            </div>
                        </form>
                    </div>
    			</div>
    			
                <!----------------------------- PC ONLY ------------------------------>

                <div class="payout-right col-md-4 mt-3 p-4 d-none d-md-block">
                    <div class="sticky-top sticky-offset cart-recap">
                        <div class="row">
                            <span class="title col">Récapitulatif</span>
                        </div>
                        <div class="w-100 border-bottom my-3"></div>
                        <div class="row py-3">
                            <span class="title col-5">SOUS-TOTAL <span class="detail">(TTC)</span></span>
                            <span class="price price-sub-total col text-right"><%= session.cart.subtotal_cost %>€</span>
                        </div>
                        <div class="row py-3">
                            <span class="title col-5">LIVRAISON <span class="detail">(estimée)</span></span>
                            <span class="price price-shipping col text-right"><%= session.cart.shipping_cost %>€</span>
                        </div>
                        <div class="w-100 border-bottom my-3"></div>
                        <div class="row pb-5">
                            <span class="title total col-5">TOTAL <span class="detail">(TTC)</span></span>
                            <span class="price price-total col text-right"><%= session.cart.total_cost %>€</span>
                        </div>
                    </div>
                </div>
	    	</div>
        </main>
        <footer>
           <%- include('footer') %>
        </footer>
        <!---------------------- MOBILE ONLY ---------------------------->
        <div class="sticky-bottom product-payout d-md-none d-block w-100 p-3 shadow-lg">
            <div class="cart-recap">
                <div class="row py-1">
                    <span class="title col-5">SOUS-TOTAL <span class="detail">(TTC)</span></span>
                    <span class="price price-sub-total col text-right"><%= session.cart.subtotal_cost %>€</span>
                </div>
                <div class="row py-2">
                    <span class="title col-5">LIVRAISON <span class="detail">(estimée)</span></span>
                    <span class="price price-shipping col text-right"><%= session.cart.shipping_cost %>€</span>
                </div>
                <div class="w-100 border-bottom my-2"></div>
                <div class="row">
                    <span class="title total col-5">TOTAL <span class="detail">(TTC)</span></span>
                    <span class="price price-total col text-right"><%= session.cart.total_cost %>€</span>
                </div>
            </div>
        </div>
    </body>

    <script src="jquery.countryselector.js"></script>
    <script type="text/javascript">
        // on met en place la ligne sur le bandeau
        $('.line').css({
            width: function () {
                return $('.payout-order li:nth-of-type(3) span.order').offset().left - $('.payout-order li:nth-of-type(1) span.order').offset().left;
            },
            top: function () {
                return $('.payout-order li:nth-of-type(1) span.order').offset().top
            },
            left: function () {
                return $('.payout-order li:nth-of-type(1) span.order').offset().left;
            }
        })

        /* ============================= FRAIS DE PORT DYNAMIQUE ======================= */

        var shippingCost = <%= session.cart.shipping_cost %>;

        // Renvoit le frais de port selon le pays et code postal (Colissimo)
        function getShippingCost(country, postal_code) {
            // On définie à l'avance les prix (250mg)
            var metroCost = 4.95;
            var domtomCost = 9.60;
            var euroCost = 12.55;
            var inter1Cost = 17.00;
            var inter2Cost = 24.85;

            // On définit les differentes zones
            var euro = ['DE', 'AT', 'BE', 'BG', 'CY', 'HR', 'DK', 'ES', 'EE', 'FI', 'FR', 'GR', 'HU', 'IE', 'IT', 'LT', 
            'LV', 'LU', 'MT', 'NL', 'PL', 'PT', 'RO', 'SK', 'SI', 'SE', 'CZ', 'CH', 'SM', 'LI']; // UE + suisse etc
            var inter1 = ['NO', 'BA', 'HR', 'MK', 'ME', 'RS', 'AL', 'DZ', 'MA', 'TN', 'LY', 'MR'] // Europe Est + Norvège + Maghreb

            // Si le client est en france ...
            if (country == 'FR') {
                if (['97', '98'].indexOf(postal_code.slice(0, 2)) >= 0) return domtomCost;
                else return metroCost;
                
            }
            else if (['MC', 'AD'].indexOf(country) >= 0) return metroCost; // Si Andorre ou Monaco
            else if (euro.indexOf(country) >= 0) return euroCost; // Si UE + Suisse et autres
            else if (inter1.indexOf(country) >= 0) return inter1Cost; // Si EU Est + Maghreb + Norvège
            else return inter2Cost; // Sinon -> international
        }
        // Met par défaut la valeur et l'affichage des frais de port
        function defaultShippingCost() {
            shippingCost = <%= session.cart.shipping_cost %>;
            totalCost = parseFloat((shippingCost + <%= session.cart.subtotal_cost %>).toFixed(10));
            $('span.price-shipping').text(`${shippingCost}€`);
            $('span.price-total').text(`${totalCost}€`);
            $('.colissimo-price span').text(`${shippingCost}€`);
        }
        // Met à jour les frais de port selon la nouvele adresse
        function newShippingCost() {
            var country = $('select[name="country"]').val();
            var postal_code = $('input[name="postal-code"]').val();
            shippingCost = getShippingCost(country, postal_code);
            totalCost = parseFloat((shippingCost + <%= session.cart.subtotal_cost %>).toFixed(10));
            $('span.price-shipping').text(`${shippingCost}€`);
            $('span.price-total').text(`${totalCost}€`);
            $('.colissimo-price span').text(`${shippingCost}€`);
        }
        // Radio button pannels
        $( "input[type=radio][name=shippingAddress]" ).change(function() {
            if ($(this).attr('id') == 'sa1') {
                $('.shipping-address-new').addClass('hide');
                defaultShippingCost();
            } else {
                $('.shipping-address-new').removeClass('hide');
                newShippingCost();
            }
        });
        $('select[name="country"]').change(newShippingCost);
        $('input[name="postal-code"]').change(newShippingCost);

        /* ============================================================================ */

        // Validation de l'adresse de livraison
        $('form[action="/valid-shipping"]').submit(function () {
            var shippingAddress = $('input[name="shippingAddress"]:checked').val();
            var shippingMethod = $('input[name="shippingMethod"]:checked').val();

            var address1Input = $('.shipping-address input[name="address1"]');
            var address2Input = $('.shipping-address input[name="address2"]');
            var cityInput = $('.shipping-address input[name="city"]');
            var countryInput = $('.shipping-address select[name="country"]');
            var stateInput = $('.shipping-address input[name="state"]');
            var postalCodeInput = $('.shipping-address input[name="postal-code"]');

            /* ----------------- Setting optionnal shipping address ------------ */

            var shipping_city = `<%- user.city %>`;
            var shipping_country = `<%- user.country %>`;
            var shipping_address1 = `<%- user.address1 %>`;
            var shipping_address2 = `<%- user.address2 %>`;
            var shipping_postal_code = `<%- user.postal_code %>`;
            var shipping_state = `<%- user.state %>`;

            // Si on choisi d'ajouter une autre adresse, on verifie les erreurs
            if (shippingAddress == "2") {
                if (!address1Input.val()) {
                    address1Input.removeClass('is-valid').addClass('is-invalid');
                    return false;
                } else {
                    address1Input.removeClass('is-invalid').addClass('is-valid');
                    shipping_address1 = address1Input.val();
                }
                if (address2Input.val()) {
                    address2Input.removeClass('is-invalid').addClass('is-valid');
                    shipping_address2 = address2Input.val();
                }
                if (!cityInput.val()) {
                    cityInput.removeClass('is-valid').addClass('is-invalid');
                    return false;
                } else {
                    cityInput.removeClass('is-invalid').addClass('is-valid');
                    shipping_city = cityInput.val();
                }
                if (!postalCodeInput.val()) {
                    postalCodeInput.removeClass('is-valid').addClass('is-invalid');
                    return false;
                } else {
                    postalCodeInput.removeClass('is-invalid').addClass('is-valid');
                    shipping_postal_code = postalCodeInput.val();
                }
                if (!countryInput.val()) {
                    countryInput.removeClass('is-valid').addClass('is-invalid');
                    return false;
                } else {
                    countryInput.removeClass('is-invalid').addClass('is-valid');
                    shipping_country = countryInput.val();
                }
                if (!stateInput.val()) {
                    stateInput.removeClass('is-valid').addClass('is-invalid');
                    return false;
                } else {
                    stateInput.removeClass('is-invalid').addClass('is-valid');
                    shipping_state = stateInput.val();
                }
            }

            $.post("/valid-shipping", {
                shippingMethod: shippingMethod,
                shippingAddress: shippingAddress,

                address1: shipping_address1,
                address2: shipping_address2,
                city: shipping_city,
                postal_code: shipping_postal_code,
                country: shipping_country,
                state: shipping_state,
            })
            .done( function (data) {
                if (data == "badShipping") {
                    console.log("bad shipping");
                }
                else {
                    location.assign('/payout-final')
                }
            });

            return false; // on execute pas le submit normal     
        });
	</script>

</html>