<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <!--<link rel="stylesheet" type="text/css" href="/css/style-product.css">-->
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/style-cart.css">
        <link rel="stylesheet" type="text/css" href="/css/style-payout.css">
        <title>Strange Day</title>
    </head>
 
    <body>
    	<header>
            <%- include('navbar') %>
        </header>

        <main class="pt-5 mt-3">
            <div>
                <ul class="payout-order list-inline text-center mt-5">
                    <li class="list-inline-item active">
                        <a href="/payout-infos">
                            <span class="order">1</span>
                            <span class="label"> Informations </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/payout-shipping">
                            <span class="order">2</span>
                            <span class="label"> Livraison </span>
                        </a>
                    </li>
                     <li class="list-inline-item">
                        <a href="/payout-final">
                            <span class="order">3</span>
                            <span class="label"> Paiement </span>
                        </a>
                    </li>
                    <div class="line"></div>
                </ul>
            </div>

    		<div class="container-fluid row m-0 p-0">
    			<div class="payout-left border col-md-8 mt-3 p-3">
                    <div class="tab">
                        <ul class="tab-switch list-inline">
                            <li class="list-inline-item active" target="log-payout">
                                Se connecter                            
                            </li>
                            <li class="list-inline-item" target="subscribe-payout">
                                Créer un compte
                            </li>
                        </ul>
                    </div>
                    <div class="p-4 container log-payout active">
                        <form action="/login" method="post">
                            <div class="form-group form-row">
                                <input type="text" placeholder="Adresse email" class="form-control" name="email">
                                <div class="invalid-feedback">Veuillez rentrer une adresse email valide</div>
                            </div>

                            <div class="form-group form-row">
                                <input type="password" placeholder="Mot de passe" class="form-control" name="password">
                                <div class="invalid-feedback">Veuillez rentrer un mot de passe valide</div>
                            </div>

                            <div class="form-check form-row">
                                <!--<input class="form-check-input" type="checkbox" id="logRemember" name="newsletter" value="yes">
                                <label for="logRemember">Rester connecté</label>-->
                            </div>
                            <div class="form-row">
                                <button type="submit" class="btn btn-cart w-100" data-dismiss="">Se connecter</button>
                            </div>
                        </form>
                    </div>
                    <div class="p-4 container subscribe-payout">
                        <form action="/sign-up" method="post" class="container p-0">
                            <span class="title"> Coordonnées </span>
                            <div class="form-group form-row">
                                <input type="text" placeholder="Nom et prénom" class="form-control" name="name">
                                <div class="invalid-feedback">Veuillez rentrer un nom valide</div>
                            </div>
                            <div class="form-group form-row">
                                <input type="text" placeholder="Adresse email" class="form-control" name="email">
                                <div class="invalid-feedback">Veuillez rentrer une adresse email valide</div>
                            </div>
                            <div class="form-group form-row">
                                <input type="tel" placeholder="Téléphone (mobile de préférence)" class="form-control" name="tel">
                                <div class="invalid-feedback">Veuillez rentrer un numéro valide valide</div>
                            </div>

                            <span class="title"> Adresse </span>
                            <div class="form-group w-100">
                                <input type="text" placeholder="Adresse" class="form-control" name="address1">
                                <div class="invalid-feedback">Veuillez rentrer une adresse valide</div>
                            </div>
                            <div class="form-group w-100">
                                <input type="text" placeholder="N° suite / appartement (optionnel)" class="form-control" name="address2">
                                <div class="invalid-feedback">Veuillez rentrer une adresse valide</div>
                            </div>
                            <div class="form-row w-100 m-0 mb-3">
                                <div class="col p-0 pr-1">
                                    <input type="text" placeholder="Ville" class="form-control" name="city">
                                    <div class="invalid-feedback">Veuillez rentrer une ville valide</div>
                                </div>
                                <div class="col p-0 pl-1">
                                    <input type="text" placeholder="Code postal" class="form-control" name="postal-code">
                                    <div class="invalid-feedback">Veuillez rentrer un code valide</div>
                                </div>
                            </div>
                            <div class="form-row w-100 m-0 mb-3">
                                <div class="col p-0 pr-1">
                                    <input type="text" placeholder="Région / Etat" class="form-control" name="state">
                                    <div class="invalid-feedback">Veuillez rentrer une région valide</div>
                                </div>
                                <div class="col p-0 pl-1">
                                    <select class="form-control" value="FR" data-role="country-selector" data-code-mode="alpha2" name="country"></select>
                                    <div class="invalid-feedback">Veuillez rentrer un pays valide</div>
                                </div>
                            </div>

                            <span class="title"> Mot de passe </span>
                            <div class="form-group form-row">
                                <input type="password" placeholder="Mot de passe" class="form-control" name="password">
                                <div class="invalid-feedback">Veuillez rentrer un mot de passe valide</div>
                            </div>
                            <div class="form-group form-row">
                                <input type="password" placeholder="Répetez le mot de passe" class="form-control" name="repeat-password">
                                <div class="invalid-feedback">les mots de passe ne correspondent pas</div>
                            </div>

                            <div class="form-check mt-5">
                                <input class="form-check-input" type="checkbox" id="subscribeNewsletter" name="newsletter" value="yes">
                                <label for="subscribeNewsletter">Je souhaite m'abonner à la newsletter</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="subscribeCgu" name="cgu" value="yes">
                                <label for="subscribeCgu">J'ai lu et accepte les conditions d'utilisation</label>
                                <div class="invalid-feedback">Vous devez accepter les CGU pour vous inscrire</div>
                            </div>
                            <button type="submit" class="btn btn-cart mt-3" data-dismiss="">S'inscrire</button>
                        </form>
                    </div>
    			</div>
    			
    			<!----------------------------- PC ONLY ------------------------------>

	    		<div class="payout-right col-md-4 mt-3 p-4 d-none d-md-block">
	    			<div class="sticky-top sticky-offset cart-recap">
                        <div class="row">
                            <span class="title col">Récapitulatif</span>
                        </div>
                        <div class="w-100 border-bottom my-3"></div>
                        <div class="row py-3">
                            <span class="title col-5">Sous-Total <span class="detail">(TTC)</span></span>
                            <span class="price price-sub-total col text-right"><%= subtotal_cost %>€</span>
                        </div>
                        <div class="row py-3">
                            <span class="title col-5">Livraison <span class="detail">(estimée)</span></span>
                            <% var ship = shipping_cost+'€';
                            if (!parseInt(ship)) ship = 'Gratuite'; %>
                            <span class="price price-shipping col text-right"><%= ship %></span>
                        </div>
                        <% if (session.cart.voucher_promo) { %>
                        <div class="row py-3">
                            <span class="title col-5">Coupon <span class="detail">(<%= session.cart.voucher_code %>)</span></span>
                            <span class="price price-voucher col text-right"><%= session.cart.voucher_promo %>%</span>
                        </div>
                        <% } %>
                        <div class="w-100 border-bottom my-3"></div>
                        <div class="row pb-5">
                            <span class="title total col-5">Total <span class="detail">(TTC)</span></span>
                            <span class="price price-total col text-right"><%= total_cost %>€</span>
                        </div>
	    			</div>
	    		</div>
	    	</div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>

        <!---------------------- MOBILE ONLY ---------------------------->
        <div class="sticky-bottom product-payout d-md-none d-block w-100 p-3 shadow-lg">
            <div class="cart-recap">
                <div class="row py-1">
                    <span class="title col-5">Sous-Total <span class="detail">(TTC)</span></span>
                    <span class="price price-sub-total col text-right"><%= subtotal_cost %>€</span>
                </div>
                <div class="row py-2">
                    <span class="title col-5">Livraison <span class="detail">(estimée)</span></span>
                    <span class="price price-shipping col text-right"><%= ship %></span>
                </div>
                <% if (session.cart.voucher_promo) { %>
                <div class="row py-2">
                    <span class="title col-5">Coupon <span class="detail">(<%= session.cart.voucher_code %>)</span></span>
                    <span class="price price-voucher col text-right"><%= session.cart.voucher_promo %>%</span>
                </div>
                <% } %>
                <div class="w-100 border-bottom my-2"></div>
                <div class="row">
                    <span class="title total col-5">Total <span class="detail">(TTC)</span></span>
                    <span class="price price-total col text-right"><%= total_cost %>€</span>
                </div>
            </div>
        </div>
    </body>

    <script src="jquery.countryselector.js"></script>
    <script type="text/javascript">

        // on met en place la ligne sur le bandeau
        $('.line').css({
            width: function () {
                return $('.payout-order li:nth-of-type(3) span.order').offset().left - $('.payout-order li:nth-of-type(1) span.order').offset().left;
            },
            top: function () {
                return $('.payout-order li:nth-of-type(1) span.order').offset().top
            },
            left: function () {
                return $('.payout-order li:nth-of-type(1) span.order').offset().left;
            }
        })

        // on switch de panneau
        $("div.payout-left ul.tab-switch li").click(function() {
            $("div.payout-left ul.tab-switch li").removeClass("active");
            $(this).addClass("active");

            var pannel = $(this).attr("target");
            $("div.payout-left div.tab ~ div").removeClass("active");
            $("div.payout-left div."+pannel).addClass("active");
        });

        // On valide la connexion
        $('.log-payout form[action="/login"]').submit(function () {
            var emailInput = $('.log-payout form[action="/login"] input[type="text"]');
            var passwordInput = $('.log-payout form[action="/login"] input[type="password"]');

            // On check les erreurs et on ajoute la classe en consequant
            if (!emailInput.val()) {
                emailInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                emailInput.removeClass('is-invalid').addClass('is-valid');
            }
            if (!passwordInput.val()) {
                passwordInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                passwordInput.removeClass('is-invalid').addClass('is-valid');
            }

            $.post("/login", {
                email: emailInput.val(),
                password: passwordInput.val()
            })
            .done( function (data) {
                if (data == "badEmail") {
                    console.log("bad email")
                    emailInput.removeClass('is-valid').addClass('is-invalid');
                }
                else if (data == "badPassword") {
                    console.log("bad password")
                    passwordInput.removeClass('is-valid').addClass('is-invalid');
                }
                else {
                    location.reload();
                }
            });

            return false; // on n'execute pas le submit normal
        });

        // on valide l'inscription
        $('.subscribe-payout form[action="/sign-up"]').submit(function () {
            var nameInput = $('.subscribe-payout input[name="name"]');
            var emailInput = $('.subscribe-payout input[name="email"]');
            var address1Input = $('.subscribe-payout input[name="address1"]');
            var address2Input = $('.subscribe-payout input[name="address2"]');
            var cityInput = $('.subscribe-payout input[name="city"]');
            var countryInput = $('.subscribe-payout select[name="country"]');
            var stateInput = $('.subscribe-payout input[name="state"]');
            var postalCodeInput = $('.subscribe-payout input[name="postal-code"]');
            var passwordInput = $('.subscribe-payout input[name="password"]');
            var repeatpasswordInput = $('.subscribe-payout input[name="repeat-password"]');
            var newsletterInput = $('.subscribe-payout input[name="newsletter"]:checked');
            var cguInput = $('.subscribe-payout input[name="cgu"]:checked');
            var telInput = $('.subscribe-payout input[name="tel"]');
            var regexTel = new RegExp("^[0-9]{10}$");
            var regexEmail = new RegExp(`^[\\w.+-]{1,64}@([a-zA-Z\\d-]{2,252}\\.[\\w\\.]{2,6})$`);

            // On check les erreurs et on ajoute la classe en consequant
            if (!nameInput.val()) {
                nameInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                nameInput.removeClass('is-invalid').addClass('is-valid');
            }
            if (!emailInput.val()) {
                emailInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else if (!emailInput.val().match(regexEmail)) {
                emailInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                emailInput.removeClass('is-invalid').addClass('is-valid');
            }
            if (!telInput.val()) {
                telInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else if (!telInput.val().match(regexTel)) {
                telInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            }
            else {
                telInput.removeClass('is-invalid').addClass('is-valid');
            }
            if (!address1Input.val()) {
                address1Input.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                address1Input.removeClass('is-invalid').addClass('is-valid');
            }
            if (address2Input.val()) {
                address2Input.removeClass('is-invalid').addClass('is-valid');
            }
            if (!cityInput.val()) {
                cityInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                cityInput.removeClass('is-invalid').addClass('is-valid');
            }
            if (!postalCodeInput.val()) {
                postalCodeInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                postalCodeInput.removeClass('is-invalid').addClass('is-valid');
            }
            if (!countryInput.val()) {
                countryInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                countryInput.removeClass('is-invalid').addClass('is-valid');
            }
            if (!stateInput.val()) {
                stateInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                stateInput.removeClass('is-invalid').addClass('is-valid');
            }
            if (!passwordInput.val()) {
                passwordInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                passwordInput.removeClass('is-invalid').addClass('is-valid');
            }
            if (!repeatpasswordInput.val()) {
                repeatpasswordInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else if (repeatpasswordInput.val() != passwordInput.val()) {
                repeatpasswordInput.removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                repeatpasswordInput.removeClass('is-invalid').addClass('is-valid');
            }
            if (!cguInput.val()) {
                $('.subscribe-pannel input[name="cgu"]').removeClass('is-valid').addClass('is-invalid');
                return false;
            } else {
                $('.subscribe-pannel input[name="cgu"]').removeClass('is-invalid').addClass('is-valid');
            }

            $.post("/sign-up", {
                name: nameInput.val(),
                email: emailInput.val(),
                address1: address1Input.val(),
                address2: address2Input.val(),
                city: cityInput.val(),
                postalCode: postalCodeInput.val(),
                country: countryInput.val(),
                state: stateInput.val(),
                password: passwordInput.val(),
                tel: telInput.val(),
                newsletter: newsletterInput.val()
            })
            .done( function (data) {
                if (data == "badEmail") {
                    emailInput.removeClass('is-valid').addClass('is-invalid'); // l'email est déjà utilisé
                    $('header').append(
                        `<div class="notif-container row w-100 justify-content-center">
                            <div class="alert alert-danger alert-dismissible fade show col-8" role="alert">
                                <strong>Erreur !</strong> L'email est déjà utilisé par un autre compte ...
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="w-100"></div>
                        </div>`
                    )
                }
                else {
                    // une fois inscrit, on connecte directement
                    $.post("/login", {
                        email: emailInput.val(),
                        password: passwordInput.val()
                    })
                    .done( function (data) {
                        if (data == "badEmail") {
                            console.log("bad email")
                            emailInput.removeClass('is-valid').addClass('is-invalid');
                        }
                        else if (data == "badPassword") {
                            console.log("bad password")
                            passwordInput.removeClass('is-valid').addClass('is-invalid');
                        }
                        else {
                            location.reload();
                        }
                    });
                }
            });

            return false; // on execute pas le submit normal     
        });
	</script>

</html>