<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-shop.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Strange Day</title>
    </head>
 
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <main class="py-5 mt-3">
            <%- include('jumbo') %>
            <% var title = "Tous les produits";
            switch (link) { 
                case 'clothe': title = "Vêtements";
                    break;
                case 'print': title = "Affiches";
                    break;
                case 'accessory': title = "Accessoires";
                    break;
            } %>
            <div class="head-title my-5">
                <h1><%= title %></h1>
            </div>
            <div class="container product-list">
                <% if (products.length) {
                for (product of products) { %>
                    <div class="product col-md-4 p-5">
                        <div class="product-img text-center">
                            <% if (!product.available) { %>
                                <span class="sold-out"> Sold out </span>
                            <% } %>
                            
                            <a class="product-img" href="/product/<%= product.id %>">
                                <% let first_image = true;
                                for (image of product.image) { %>
                                    <img class="w-100 <% if (!first_image) { %> hidden <% } else { %> main <% } %>" src="/img/<%= image %>">
                                <% first_image = false;
                                } %>
                            </a>
                        </div>
                        <div class="product-name p-2">
                            <div class="container text-center">
                                <a class="name w-100" href="/product/<%= product.id %>"><%= product.name %></a>
                                <div class="w-100"></div>
                                <% if (product.collection != 'Aucune') { %>
                                    <span class="collection w-100"><%= product.collection %></span>
                                    <div class="w-100"></div>
                                <% } %>
                                <span class="price w-100"><%= product.price %>€</span>
                            </div>
                        </div>
                    </div>
                <% }} %>
            </div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>

    <script type="text/javascript">
        // On fait defiler les iamges sur l'apercu du produit
        let eventHook, element, index;
        $('div.product-img').hover(function(){
            element = $(this);
            // Si le produit a bien plus d'une image, on les fait defiler
            if (element.find('img').length > 1) {
                index = 1;
                eventHook = setInterval(function(){
                    element.find('img').addClass('hidden');
                    element.find('img').eq(index).removeClass('hidden');
                    if (index+1 >= element.find('img').length) index=0;
                    else index++;
                }, 2500);               
            }

        }, function () {
            // On enlève la callback et on remet l'image de base
            clearInterval(eventHook);
            element.find('img').addClass('hidden');
            element.find('img').first().removeClass('hidden');
        });
    </script>

</html>